tests/resources/schema/ooxml/pml-mso2010.xsd

<xsd:schema elementFormDefault="qualified"
            xmlns="http://schemas.microsoft.com/office/powerpoint/2010/main"
            xmlns:p14="http://schemas.microsoft.com/office/powerpoint/2010/main"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://schemas.microsoft.com/office/powerpoint/2010/main">
    <xsd:complexType name="CT_RandomId">
        <xsd:attribute name="val" type="xsd:unsignedInt" use="required"/>
    </xsd:complexType>
    <xsd:element name="creationId" type="CT_RandomId"/>
</xsd:schema>
